.ant-tabs-tab {
  padding: 0;
  margin: 0 9.5% 0 0;
  max-width: 30%;
}

.ant-tabs-tab + .ant-tabs-tab {
  padding: 0;
  margin: 0 9.5% 0 0;
  max-width: 25%;
}

p {
  margin-block-end: 1px;
  margin-block-start: 1px;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  width: 92%;
}

.ant-tabs-nav {
  margin-bottom: 5%;
}

.ant-btn-icon-only {
  height: 3.6rem;
  padding: 0;
}
.ant-layout-header {
  line-height: 1.5715;
}